nav {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.heading h3 {
  font-size: xx-large;
}

.nav-link ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25vw;
}

.nav-link ul li {
  font-size: large;
  font-weight: bold;
}

.nav-link ul li:hover {
  cursor: pointer;
  color: rgb(75, 75, 75);
  transition: 0.3s;
}

/* home */
.home {
  position: relative;
  background: url('https://picsum.photos/1600/800');
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  color:  white;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.content h1{
  font-size: 56px;
}
.content p{
  font-size: 22px;
}
.content button{
  color: white;
  background-color: orange;
  font-size: large;
  font-weight: bold;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
}

.content button:hover{
  background-color: rgb(216, 141, 0);
  cursor: pointer;
  transition: 0.2s;
}

/* about */
.about {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  text-align: center;
}

.about p{
  font-size: large;
  padding: 10px 10px;
  text-align: center;
}

/* services */
.services{
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-wrap: wrap;
  padding: 70px 20px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.service{
  /* height: 300px; */
  width: 380px;
  background-color: white;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.service h3{
  font-size: 22px;
  color: rgb(0, 156, 0);
  margin-bottom: 15px;
}
.service p{
  font-size: large;
  margin-bottom: 10px;
  font-weight: 400;
}

/* footer */
footer{
  height: 17vh;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
footer p{
  font-size: large;
}

@media (max-width: 720px) {
  .services{
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 10px;
  }
  .service {
    width: 90vw;
  }
}